.u-block-7dd9-2 {
  position: absolute;
  bottom: 10px;
}

.u-block-7dd9-3 {
  position: absolute;
  left: 0;
}

.u-block-7dd9-4 {
  position: absolute;
  right: 0;
}

 .u-section-1-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/9f9ef92c4ae208701743c6e84c36e41b0be51b5fab6ecf1c8fa56002d34f5cfbcd7aca0093bd2676346ce7d8dd5e2cb2d061bb0275b0628965faf1_1280.png");
  background-position: 50% 50%;
}

.u-section-1-1 .u-sheet-1 {
  min-height: 453px;
}

.u-section-1-1 .u-text-1 {
  font-weight: 700;
  font-size: 4.5rem;
  margin: 76px 0 0;
}

.u-section-1-1 .u-btn-1 {
  border-style: solid;
  background-image: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 23px auto 60px;
  padding: 10px 40px;
}

@media (max-width: 1199px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 374px;
  }

  .u-section-1-1 .u-text-1 {
    margin-left: 104px;
    margin-right: 104px;
  }
}

@media (max-width: 991px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 286px;
  }
}

@media (max-width: 767px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 215px;
  }

  .u-section-1-1 .u-text-1 {
    font-size: 3.75rem;
  }
}

@media (max-width: 575px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 135px;
  }

  .u-section-1-1 .u-text-1 {
    font-size: 3rem;
  }
}

 .u-section-1-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url("images/e647312b6cf2d912b104a2b5683c44853ffafbf7a1abb94d376e1c59b3331e6024595e814db0fd0ca2c1f07c162a1f6323f1000dc0488abe019b6c_1280.jpg");
  background-position: 50% 50%;
}

.u-section-1-2 .u-sheet-1 {
  min-height: 453px;
}

.u-section-1-2 .u-text-1 {
  font-weight: 700;
  font-size: 4.5rem;
  margin: 71px 0 0;
}

.u-section-1-2 .u-btn-1 {
  border-style: solid;
  background-image: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 23px auto 60px;
  padding: 10px 40px;
}

@media (max-width: 1199px) {
  .u-section-1-2 .u-sheet-1 {
    min-height: 374px;
  }

  .u-section-1-2 .u-text-1 {
    margin-left: 104px;
    margin-right: 104px;
  }
}

@media (max-width: 991px) {
  .u-section-1-2 .u-sheet-1 {
    min-height: 286px;
  }
}

@media (max-width: 767px) {
  .u-section-1-2 .u-sheet-1 {
    min-height: 215px;
  }

  .u-section-1-2 .u-text-1 {
    font-size: 3.75rem;
  }
}

@media (max-width: 575px) {
  .u-section-1-2 .u-sheet-1 {
    min-height: 135px;
  }

  .u-section-1-2 .u-text-1 {
    font-size: 3rem;
  }
}

 .u-section-1-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/7f48927badcb9dd9a7bb8dab1c59dd17495cb4bfcb9f06f72721fe3bd34501358b14c3e97f933ff87cb4dc02e28af6c567c9b2020509b4b4a1697d_1280.jpg");
  background-position: 50% 50%;
}

.u-section-1-3 .u-sheet-1 {
  min-height: 453px;
}

.u-section-1-3 .u-text-1 {
  font-weight: 700;
  font-size: 4.5rem;
  margin: 62px auto 0 -7px;
}

.u-section-1-3 .u-btn-1 {
  border-style: solid;
  background-image: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 28px auto 60px;
  padding: 10px 40px;
}

@media (max-width: 1199px) {
  .u-section-1-3 .u-sheet-1 {
    min-height: 374px;
  }
}

@media (max-width: 991px) {
  .u-section-1-3 .u-sheet-1 {
    min-height: 286px;
  }
}

@media (max-width: 767px) {
  .u-section-1-3 .u-sheet-1 {
    min-height: 215px;
  }

  .u-section-1-3 .u-text-1 {
    font-size: 3.75rem;
  }
}

@media (max-width: 575px) {
  .u-section-1-3 .u-sheet-1 {
    min-height: 135px;
  }

  .u-section-1-3 .u-text-1 {
    font-size: 3rem;
  }
}

 .u-section-1-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url("images/g7e48ac1a401effd2861ade7ed50e803c81c50435efe2eee1724a24dfeef15756b65d7361349f6870d314b349ff02c1ff_1280.jpg");
  background-position: 50% 50%;
}

.u-section-1-4 .u-sheet-1 {
  min-height: 453px;
}

.u-section-1-4 .u-text-1 {
  font-weight: 700;
  font-size: 4.5rem;
  margin: 71px 0 0;
}

.u-section-1-4 .u-text-2 {
  text-align: center;
  margin: 7px auto 0;
}

.u-section-1-4 .u-btn-1 {
  border-style: solid;
  background-image: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 32px auto 60px;
  padding: 10px 40px;
}

@media (max-width: 1199px) {
  .u-section-1-4 .u-sheet-1 {
    min-height: 374px;
  }

  .u-section-1-4 .u-text-1 {
    margin-left: 104px;
    margin-right: 104px;
  }

  .u-section-1-4 .u-btn-1 {
    margin-top: 60px;
    margin-bottom: 4px;
  }
}

@media (max-width: 991px) {
  .u-section-1-4 .u-sheet-1 {
    min-height: 286px;
  }

  .u-section-1-4 .u-btn-1 {
    margin-top: 34px;
    margin-bottom: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1-4 .u-sheet-1 {
    min-height: 215px;
  }

  .u-section-1-4 .u-text-1 {
    font-size: 3.75rem;
  }
}

@media (max-width: 575px) {
  .u-section-1-4 .u-sheet-1 {
    min-height: 135px;
  }

  .u-section-1-4 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-1-4 .u-btn-1 {
    margin-top: 8px;
    margin-bottom: 3px;
  }
}

 .u-section-1-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/a3653488e166914742bdb4463c4c4589fc3b64f50675e030b1387a7db17a2b68bb589b439e67bf6999edee05d78a1502423bf3de930bcfdca2de0d_1280.jpg");
  background-position: 50% 50%;
}

.u-section-1-5 .u-sheet-1 {
  min-height: 453px;
}

.u-section-1-5 .u-text-1 {
  font-weight: 700;
  font-size: 4.5rem;
  margin: 54px 0 0;
}

.u-section-1-5 .u-btn-1 {
  border-style: solid;
  background-image: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 23px auto 60px;
  padding: 10px 40px;
}

@media (max-width: 1199px) {
  .u-section-1-5 .u-sheet-1 {
    min-height: 374px;
  }

  .u-section-1-5 .u-text-1 {
    margin-left: 104px;
    margin-right: 104px;
  }
}

@media (max-width: 991px) {
  .u-section-1-5 .u-sheet-1 {
    min-height: 286px;
  }
}

@media (max-width: 767px) {
  .u-section-1-5 .u-sheet-1 {
    min-height: 215px;
  }

  .u-section-1-5 .u-text-1 {
    font-size: 3.75rem;
  }
}

@media (max-width: 575px) {
  .u-section-1-5 .u-sheet-1 {
    min-height: 135px;
  }

  .u-section-1-5 .u-text-1 {
    font-size: 3rem;
  }
}

 .u-section-1-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/79d5d53443d7bd1c60289424df5284a50e808a3c6f33322fcd3b4f0facbc2b0d3341552fc1740ab11b21c65e6d4825c4b298bfd8bf0dd640d014db_1280.jpg");
  background-position: 50% 50%;
}

.u-section-1-6 .u-sheet-1 {
  min-height: 453px;
}

.u-section-1-6 .u-text-1 {
  font-weight: 700;
  font-size: 4.5rem;
  margin: 65px 0 0;
}

.u-section-1-6 .u-btn-1 {
  border-style: solid;
  background-image: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 23px auto 60px;
  padding: 10px 40px;
}

@media (max-width: 1199px) {
  .u-section-1-6 .u-sheet-1 {
    min-height: 374px;
  }

  .u-section-1-6 .u-text-1 {
    margin-left: 104px;
    margin-right: 104px;
  }
}

@media (max-width: 991px) {
  .u-section-1-6 .u-sheet-1 {
    min-height: 286px;
  }
}

@media (max-width: 767px) {
  .u-section-1-6 .u-sheet-1 {
    min-height: 215px;
  }

  .u-section-1-6 .u-text-1 {
    font-size: 3.75rem;
  }
}

@media (max-width: 575px) {
  .u-section-1-6 .u-sheet-1 {
    min-height: 135px;
  }

  .u-section-1-6 .u-text-1 {
    font-size: 3rem;
  }
}

 .u-section-1-7 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url("images/56af42fa483e5a345a79ab474917f06d829b6b089981a3cb2a2c38535e9d49846ba4b425e3ea9f044dc0598cec47eda82c6f82b2ec184997deafc1_1280.jpg");
  background-position: 50% 50%;
}

.u-section-1-7 .u-sheet-1 {
  min-height: 453px;
}

.u-section-1-7 .u-text-1 {
  font-weight: 700;
  font-size: 4.5rem;
  margin: 65px 0 0;
}

.u-section-1-7 .u-btn-1 {
  border-style: solid;
  background-image: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 23px auto 60px;
  padding: 10px 40px;
}

@media (max-width: 1199px) {
  .u-section-1-7 .u-sheet-1 {
    min-height: 374px;
  }

  .u-section-1-7 .u-text-1 {
    margin-left: 104px;
    margin-right: 104px;
  }
}

@media (max-width: 991px) {
  .u-section-1-7 .u-sheet-1 {
    min-height: 286px;
  }
}

@media (max-width: 767px) {
  .u-section-1-7 .u-sheet-1 {
    min-height: 215px;
  }

  .u-section-1-7 .u-text-1 {
    font-size: 3.75rem;
  }
}

@media (max-width: 575px) {
  .u-section-1-7 .u-sheet-1 {
    min-height: 135px;
  }

  .u-section-1-7 .u-text-1 {
    font-size: 3rem;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 394px;
}

.u-section-2 .u-icon-1 {
  width: 163px;
  height: 163px;
  margin: 20px 407px 0 auto;
}

.u-section-2 .u-icon-2 {
  width: 141px;
  height: 141px;
  margin: -152px 46px 0 auto;
}

.u-section-2 .u-icon-3 {
  width: 128px;
  height: 128px;
  margin: -135px 233px 0 auto;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  text-align: center;
  margin: -91px 606px 0 25px;
}

.u-section-2 .u-text-2 {
  margin: 29px 606px 0 25px;
}

.u-section-2 .u-icon-4 {
  width: 141px;
  height: 148px;
  margin: -108px 46px 0 auto;
}

.u-section-2 .u-icon-5 {
  width: 138px;
  height: 138px;
  margin: -138px 432px 0 auto;
}

.u-section-2 .u-icon-6 {
  width: 128px;
  height: 128px;
  margin: -134px 233px 51px auto;
}

@media (max-width: 1199px) {
  .u-section-2 .u-icon-1 {
    margin-right: 336px;
  }

  .u-section-2 .u-text-1 {
    margin-top: -92px;
    margin-right: 431px;
    margin-left: 0;
  }

  .u-section-2 .u-text-2 {
    margin-right: 431px;
    margin-left: 0;
  }

  .u-section-2 .u-icon-5 {
    margin-right: 356px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-icon-1 {
    margin-right: 257px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 211px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 211px;
  }

  .u-section-2 .u-icon-5 {
    margin-right: 273px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-icon-1 {
    margin-right: 193px;
  }

  .u-section-2 .u-icon-3 {
    margin-right: 175px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 31px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 31px;
  }

  .u-section-2 .u-icon-5 {
    margin-right: 205px;
  }

  .u-section-2 .u-icon-6 {
    margin-right: 175px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-icon-1 {
    margin-right: 122px;
  }

  .u-section-2 .u-icon-3 {
    margin-right: 110px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 0;
  }

  .u-section-2 .u-text-2 {
    margin-right: 0;
  }

  .u-section-2 .u-icon-5 {
    margin-right: 129px;
  }

  .u-section-2 .u-icon-6 {
    margin-right: 110px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 430px;
}

.u-section-3 .u-text-1 {
  margin: 78px 619px 0 13px;
}

.u-section-3 .u-text-2 {
  text-align: left;
  margin: -307px 61px 0 570px;
}

.u-section-3 .u-text-3 {
  font-weight: 700;
  text-align: center;
  font-size: 6rem;
  margin: -205px -80px 60px 650px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-1 {
    margin-right: 431px;
    margin-left: 0;
  }

  .u-section-3 .u-text-2 {
    margin-right: 0;
    margin-left: 431px;
  }

  .u-section-3 .u-text-3 {
    margin-left: 550px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-text-1 {
    margin-right: 211px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 211px;
  }

  .u-section-3 .u-text-3 {
    margin-left: 440px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-1 {
    margin-right: 31px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 31px;
  }

  .u-section-3 .u-text-3 {
    margin-left: 350px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    margin-right: 0;
  }

  .u-section-3 .u-text-2 {
    margin-left: 0;
  }

  .u-section-3 .u-text-3 {
    font-size: 1.5rem;
    margin-left: 250px;
  }
}